<%= render :partial => "shared/responsive_navbar", :locals => { active_menu: "profile" } %>

<section class="w-full py-8">
    <div class="w-full max-w-4xl mx-auto">
        <h1 class="text-2xl font-bold text-slate-800">My availability</h1>
        <%= render :partial => "shared/full_calendar", :locals => { calendar: @calendar } %>
    </div>
</section>