<%= render :partial => "shared/responsive_navbar", :locals => { active_menu: "classes" } %>

<section class="w-full">
  <div class="mx-auto text-center py-20">
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Interested in some classes?</h1>
    <p class="mt-6 text-lg leading-8 text-slate-600">These are the available classes.</p>
  </div>
  <div class="w-full flex flex-col items-center">
      <div class="mx-auto text-center">
          <p class="text-xl lg:text-4xl">Sorry, no classes available right now.<br>Maybe try again later?</p>
      </div>
  </div>
</section>