
 :root {
    --star-color: yellow;
    --heart-color:pink;
    font-family:sans-serif;
 }
.center {
  margin: auto;
  width: 50%;
  padding: 5px;
  font-size: x-large;
  text-align: center;
}
.textbox {
  width: 80%;
  padding: 5px;
  margin: auto;
}

.textbox textarea {
  width: 100%;
  height: 80px;
  border-radius: 8px;
}

.star-radio {
  display: none;

}

.star-radio:checked + .star-label {
  color: var(--star-color);
}
.star-label:has(~ .star-radio:checked, ~ .star-label:hover) {
  color: var(--star-color);
}

.star-radio + .star-label:hover {
  color: var(--star-color);
}

.heart-radio {
  display: none;

}

.heart-radio:checked + .heart-label {
  color: var(--heart-color);
}
.heart-label:has(~ .heart-radio:checked, ~ .heart-label:hover) {
  color: var(--heart-color);
}

.heart-radio + .heart-label:hover {
  color: var(--heart-color);
}


.inputfeedback {
    height: auto;
    width: auto;
    border: 8px ;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    border: solid lightgray;
    background-color: white;
  }

.h{
text-align: left;
font-weight: bold;
}

hr {
  border-color: solid lightgray;
}

.submit-button {
  border-radius: 10px;
  border: none;
  background-color: rgb(91, 36, 243);
  padding: 6px;
  width: 20%;
  height: 80%;
  color: white;
}

.button:active {
  transform: translateY(4px);
  background-color:rgb(212, 150, 253) ;

}

.text-left{
  text-align: left;
}

.text-center {
  text-align: center;
}

body {
  background-image : url("Background.svg") ;
}

.thankimage {
  background-image: url("mail.svg");
  height: 236px;
  width: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

table{  
  border: 2px solid #ddd;
  text-align: left;
  background-color: white;
  border-collapse: collapse;
  padding :10px;
  margin :4px;

}

tr:hover {
  background-color: rgb(230, 230, 230);
}


th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.box {
  width: 100%;
  height: 100px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 16px;
  background-color: white;
  margin: 4px;
  padding: 8px;

}

.li {
  display: flex

}

a {
  color: black;
  text-decoration: none;;
  font-size: 16px;

}