<div class="flex flex-col" data-controller="event-listener" data-event-listener-event-name-value="<%= event_name %>" data-action="<%= event_name %>@window->event-listener#triggered">
    <h3 class="font-bold text-lg">Dispatched event</h3>
    <div class="border p-2 rounded bg-gray-600" data-event-listener-target="console">
    </div>
</div>