<div class="absolute w-full bottom-0 inset-x-0 p-4 text-white text-sm z-10 bg-gray-800 bg-opacity-50 rounded-b-md">
    <div class="font-bold text-white"><%= mentor.fullname %></div>
    <div class="font-normal text-gray-300"><%= mentor.bio %></div>
</div>