<% if user_signed_in? && !!current_user.profile_picture %>
    <img class="h-8 w-8 rounded-full" src="<%= profile_picture_path(current_user.id) %>" alt="">
<% else %>
    <div class="h-8 w-8 font-bold rounded-full bg-slate-600 text-gray-200 flex justify-center items-center">
        <%= current_user.abbrevname %>
    </div>
<% end %>