<button data-controller="slide-button" data-action="click->slide-button#toggle" data-slide-button-identifier-value="<%= identifier %>">
    <div data-slide-button-target="on" class="bg-indigo-600 border-transparent border-2 rounded-full cursor-pointer flex-shrink-0 !w-11 !h-6 inline-flex relative">
        <span class="absolute w-5 h-5 rounded-full bg-white shadow right-0"></span>
    </div>
    <div data-slide-button-target="off" class="bg-gray-200 border-transparent border-2 rounded-full cursor-pointer flex-shrink-0 !w-11 !h-6 inline-flex relative">
        <span class="w-5 h-5 rounded-full bg-white shadow"></span>
    </div>
</button>
